.root, .pane, .table-view .column-header-background, .table-view .filler, .text-field
{
    -fx-background-color: black;
}

.table-view .column-header
{
    -fx-background-color: transparent;
    -fx-border-color: white;
}

.text-field
{
    -fx-border-color: white;
}

.label, .text-field
{
    -fx-text-fill: white;
}

.button
{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
}