@font-face
{
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference-Regular.otf');
}

.label, .bh-button
{
    -fx-font-family: "Glacial Indifference";
}

.bh-accent
{
    -fx-background-color: #0066b6;
}

.bh-white
{
    -fx-background-color: white;
}

.bh-button, .bh-button:hover
{
    -fx-border-color: #0066b6;
    -fx-background-color: white;
    -fx-focus-traversable: false;
    -fx-font-size: 40pt;
}

.bh-admin-button
{
    -fx-background-color: #eee;
    -fx-border-width: 0px;
    -fx-text-fill: #333;
    -fx-background-radius: 0px;
    -fx-focus-traversable: false;
    -fx-font-family: "Glacial Indifference";
    -fx-font-size: 30pt;
}

.bh-admin-box
{
    -fx-border-color: black;
    -fx-border-width: 1px;
}